@tailwind base;
@tailwind components;
@tailwind utilities;





.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}


.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #c1c1c1 #f1f1f1;
}


.custom-scrollbar {
    -ms-overflow-style: none; 
}

.custom-scrollbar::-webkit-scrollbar {
    display: none; 
}

.navbar {
    transition: background-color 0.3s ease;
  }
  
  .navbar.scrolled {
    background-color: #1a202c; 
  }

  
body {
    font-family: 'Inter', sans-serif;
  }
  
  



