<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
        <rule name="myapp">
          <match url=".*" />
          <action type="Rewrite" url="index.js" />
        </rule>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js/debug[\/]?" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" existingResponse="PassThrough"></httpErrors>
    <directoryBrowse enabled="true" />
    <iisnode 
      devErrorsEnabled="true" 
      debuggingEnabled="true" 
      loggingEnabled="true" 
      logDirectory="C:\home\site\wwwroot\logs"
    />
    <defaultDocument>
      <files>
        <add value="index.js" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
    <compilation tempDirectory="C:\home\site\wwwroot\tmp" />
  </system.web>
</configuration>
